.main {
  display: grid;
  grid-template-columns: 49vw 49vw;
}

input {
  z-index: 1;
}

.inputs {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  padding: 40px;
  border: 1px solid black;
  margin-right: 1vw;
  position: relative;
}

.educationForm {
  background-color: white;
  transition: background-color 0.6s ease-out;
}

.experienceForm {
  background-color: white;
  transition: background-color 0.6s ease-out;
}

.inputs > h3 {
  align-self: center;
}

.basicInfoOutput {
  text-align: center;
  padding: 10px;
  line-height: 0.5;
  margin-bottom: -10px;
  background-color: white;
  transition: background-color 0.6s ease-out;
  position: relative;
  z-index: 1;
}

.submitButton {
  height: 40px;
  width: 100px;
  align-self: center;
  position: absolute;
  top: 20px;
  right: 5%;
}

.outputs {
  border: 1px solid black;
}

.outputs > h1 {
  align-self: center;
  text-align: center;
}

.dates {
  display: flex;
  justify-content: space-between;
  width: 18vw;
}

.forms {
  width: 50vw;
}

.vl {
  border: 2px dotted black;
}

.hl {
  border: 2px dotted black;
}

h1 {
  align-self: center;
}

.schoolEntry {
  line-height: 0.5;
  padding: 20px;
  padding-top: 25px;
  position: relative;
  background-color: white;
  transition: background-color 0.6s ease-out;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.icon {
  pointer-events: none;
}

.disabled {
  filter:brightness(0.8);
  background-color: rgba(0, 0, 0, 0.295)
}

.schoolEntry:hover {
  background-color: rgba(255, 255, 0, 0.205);
}

.experienceEntry:hover {
  background-color: rgba(255, 255, 0, 0.205);
}

.experienceEntry {
  padding: 13px 20px;
  background-color: white;
  transition: background-color 0.6s ease-out;
}

.experienceEntry > p {
  line-height: 1;
  margin-top: 0px;
}

.experienceGrouperMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experienceGrouperIcons {
  display: flex;
  gap: 10px;
}

.educationInfoOutput {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

textarea {
  vertical-align: top;
  width: 25vw;
}

.editing {
  background-color: rgb(177, 235, 165);
}

.editing:hover {
  background-color: rgb(177, 235, 165);
}

.experienceEditing {
  background-color: rgb(144, 201, 133);
}

.experienceEditing:hover {
  background-color: rgb(144, 201, 133);
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .inputs {
    display: flex;
    width: 74vw;
    flex-direction: column;
  }

  .submitButton {
    position: relative;
  }

  textarea {
    width: 45vw;
  }
}

@media only screen and (max-width: 933px) {

  .inputs {
    display: flex;
    flex-direction: column;
  }
}