.main {
  display: flex;
  gap: 5vw;
}

.basicInfoOutput {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.outputs {
  padding: 5px;
}

.dates {
  display: flex;
  justify-content: space-between;
  width: 35vw;
}

.forms {
  width: 50vw;
}

.vl {
  border: 2px dotted black;
}

.hl {
  border: 2px dotted black;
}

h1 {
  align-self: center;
}

.schoolEntry {
  line-height: 0.5;
  padding: 20px;
}

.schoolEntry:hover {
  background-color: rgba(255, 255, 0, 0.205);
}

.educationInfoOutput {
  display: flex;
  gap: 50px;
}

textarea {
  vertical-align: top;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}